body {
background-color: aliceblue;
padding: 0;
margin: 0;
box-sizing: border-box;
}
.nav-main{
    position:fixed;
    width: 100%;
    top: 0; /* Position it at the top */
    left: 0; /* Position it to the left */
    background-color:rgb(255, 255, 255);
    border-bottom:1px solid rgb(185, 179, 179);
    box-shadow: rgba(0, 0, 0, 0.2);
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 40px;
}
.nav-header{
    width: 100px;
    padding-left: 25px;
}
.right-nav {
  padding-right: 70px;
}
.right-nav > ul{
 list-style-type: none;
 display: flex;
}
.right-nav > ul > li{
    padding: 0px 10px;
}
.right-nav > ul > li > a{
    text-decoration: none;
    color: black;
}
.body-cards{
    /* margin-top: 40px; */
    display: flex;
    flex-wrap: wrap;
}
.restrunts-card{
    width: 200px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.restrunts-card:hover{
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.card-img{
    width:100%;
    height: 150px;
    border-top-right-radius: 8px; 
    border-top-left-radius: 8px;
}
.card-title > *{
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    margin-left:5px;
    color:rgb(54, 54, 51);    
    font-family: sans-serif,Arial, Helvetica, sans-serif;      
}
.searchbtn{
    cursor: pointer;
}
.Search-filter{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.filter-container{
    margin-right: 80px;
}
.search{
    margin-left: 30px;
}
.filter-btn{
    cursor: pointer;
}
.error-container{
    color: red;
    text-align: center;
    margin-top:200px;
}
.contacts-container,.about-container,.restruntinfo-container{
    margin-top: 50px;
}
.link-cards{
    text-decoration: none;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.shimmer-card{
    width: 200px;
    height: 300px;
    margin: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}